.create {
    width: 100%;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.button--create {
    border-radius: 30px;
    transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.button--create:hover {
    background-color: #13bb71;
}

.create-enter {
    opacity: 0;
    transform: translateY(100%);
}

.create-enter-active {
    opacity: 1;
    transform: translateY(0);
}