.title {
  text-align: center;
  margin-top: 50px;
  color: #efefef;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 2em;
}

.title__image-wrap {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2em auto 0;
}

.title__image {
  /* border-radius: 5%; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
